// Font properties
	$font-primary: "IBM Plex Sans", serif;    
	$font-family: "Roboto", sans-serif;  
// color
	$color-primary: #f29111; 

	$orange: #ff7607; 
	$yellow:#ffcc00;
	$green: #20AD96;
	$blue: #29b2fe;
	$purple:#8a49a1;
	$pink: #fc60b2;
	$red: #e91e63;
	$dark_blue: #333366;
	$color-white: #FFF; 
	$color-gray :#f7f8fd;
	$color-dark-gray: #939393;
    $color-content: #6a7c92;
	$color-font: #14133b; 
	$color-black: #000;